version: "3.8"

services:
  postgres:
    image: postgres:16
    container_name: documents-postgres
    environment:
      POSTGRES_DB: documents_db
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U app -d documents_db" ]
      interval: 5s
      timeout: 3s
      retries: 10

volumes:
  pgdata:
